@charset "utf-8";

.aa{
  overflow: hidden;
  width: 1100px;
  height: 358px;
  position: relative;
  margin: 50px auto;
  border-radius: 10px;
  
}



































/* CSS Document */

